openapi: 3.0.0

servers:
  - url: https://api.kalastud.io
    description: Production Server
  - url: https://perfect-week-test.herokuapp.com
    description: Test Server

info:
  title: PerfectWeek API
  description: The PerfectWeek web API
  version: 0.1.0
  contact:
    email: perfectweek_2020@labeip.epitech.eu
  license:
    name: MIT
    url: 'https://github.com/PerfectWeek/web-api/blob/dev/LICENSE'

####################
# Tags
#
tags:
  - name: API
    description: Get information about PerfectWeek's API
  - name: Auth
    description: Authentication routes
  - name: User
    description: User management
  - name: Group
    description: Group management
  - name: Calendar
    description: Calendar management
  - name: Event
    description: Event management

####################
# Routes
#
paths:
  #
  # API
  #
  /:
    get:
      tags:
        - API
      summary: The PerfectWeek API endpoint
      operationId: apiInfo
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    example: Perfect Week API

  #
  # Auth
  #
  /auth/validate-email/{uuid}:
    get:
      tags:
        - Auth
      summary: Validate an email
      description: Finalize User creation
      operationId: confirmUserEmail
      parameters:
        - in: path
          name: uuid
          description: Unique identifier generated for email validation
          required: true
          schema:
            type: string
      responses:
        '201':
          description: User successfuly validated
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: User has been successfully created
                  user:
                    $ref: '#/components/schemas/UserInfo'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /auth/login:
    post:
      tags:
        - Auth
      summary: Log a User in
      description: Generation an authentication token for the User
      operationId: userLogin
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/LoginCredentials'
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Authentication successful
                  access_token:
                    type: string
                    example: eyJhbGciIsInR5cCpXVCJ9.eyJpZCI6MSwiaF0Ijox.vNcwZK1V5SWzMnBB-jmnkX2u3C
                  user:
                    $ref: '#/components/schemas/UserInfo'
        '403':
          description: Authentication failed
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Bad User or password
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /auth/providers/facebook/callback:
    get:
      tags:
        - Auth
      summary: Facebook OAuth callback
      description: >
        Provide Facebook access and refresh token and connect the
        corresponding User

        #### Note:

        Access and refresh token should have the following scope:

        ```js
          {
            scope: [
              "user_events",
              "email"
            ]
          }
        ```
      operationId: facebookCallBack
      parameters:
        - in: path
          name: access_token
          required: true
          description: Facebook access token
          schema:
            type: string
            example: xXx-Facebook-token-xXx
        - in: path
          name: refresh_token
          required: false
          description: Facebook refresh token
          schema:
            type: string
            example: xXx-Facebook-token-xXx
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Authentication successful
                  token:
                    type: string
                    example: xXx-perfectweek-jwt-xXx
                  user:
                    $ref: '#/components/schemas/UserInfo'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Bad Request

  /auth/providers/google/callback:
    get:
      tags:
        - Auth
      summary: Google OAuth callback
      description: >
        Provide Google access and refresh token and connect the
        corresponding User

        #### Note:

        Access and refresh token should be **offline** and with the following scope:

        ```js
          {
            access_type: "offline",
            scope: [
              "https://www.googleapis.com/auth/calendar",
              "https://www.googleapis.com/auth/userinfo.email",
              "https://www.googleapis.com/auth/userinfo.profile"
            ]
          }
        ```
      operationId: googleCallBack
      parameters:
        - in: path
          name: access_token
          required: true
          description: Google access token
          schema:
            type: string
            example: xXx-Google-token-xXx
        - in: path
          name: refresh_token
          required: false
          description: Google refresh token
          schema:
            type: string
            example: xXx-Google-token-xXx
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Authentication successful
                  token:
                    type: string
                    example: xXx-perfectweek-jwt-xXx
                  user:
                    $ref: '#/components/schemas/UserInfo'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Bad Request

  #
  # User
  #
  /users:
    post:
      tags:
        - User
      summary: Create a new User
      description: The User will be created as "pending" until its email is verified
      operationId: createUser
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RegistrationCredentials'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: A link has been sent to your email address, please click on it in order to confirm your email
                  user:
                    $ref: '#/components/schemas/UserInfo'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Invalid fields in User
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Pseudo or email already exists
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /users/{pseudo}:
    get:
      tags:
        - User
      summary: Get information about a specific User
      operationId: getUserInfo
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: pseudo
          required: true
          description: The User pseudo
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  user:
                    $ref: '#/components/schemas/UserInfo'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: User not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

    put:
      tags:
        - User
      summary: Edit User information
      operationId: editUserInfo
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: pseudo
          required: true
          description: The User pseudo
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UserInfo'
      responses:
        '200':
          description: User successfully updated
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  user:
                    $ref: '#/components/schemas/UserInfo'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Invalid fields in User
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: User not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

    delete:
      tags:
        - User
      summary: Permanently delete a User
      operationId: deleteUser
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: pseudo
          required: true
          description: The User pseudo
          schema:
            type: string
      responses:
        '200':
          description: User deleted
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: User deleted
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /users/{pseudo}/providers/google:
    put:
      tags:
        - User
      summary: Edit User google credentials
      operationId: editUserGoogleCredentials
      parameters:
        - in: path
          name: pseudo
          required: true
          description: The User pseudo
          schema:
            type: string
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                access_token:
                  type: string
                refresh_token:
                  type: string
      responses:
        '200':
          description: Google Credentials successfully updated
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  user:
                    $ref: '#/components/schemas/UserInfo'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Invalid Credentials
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'

  /users/{pseudo}/providers/facebook:
    put:
      tags:
        - User
      summary: Edit User facebook credentials
      operationId: editUserFacebookCredentials
      parameters:
        - in: path
          name: pseudo
          required: true
          description: The User pseudo
          schema:
            type: string
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                access_token:
                  type: string
                refresh_token:
                  type: string
              required:
                - access_token
      responses:
        '200':
          description: Facebook Credentials successfully updated
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  user:
                    $ref: '#/components/schemas/UserInfo'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Invalid Credentials
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'

  /users/{pseudo}/timezone:
    put:
      tags:
        - User
      summary: Edit User timezone
      operationId: editUserTimezone
      parameters:
        - in: path
          name: pseudo
          required: true
          description: The User pseudo
          schema:
            type: string
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                timezone:
                  type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: "Timezone updated successfully"
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'

  /users/{pseudo}/upload-image:
    post:
      tags:
        - User
      summary: Upload image as new Avatar for own account
      operationId: uploadUserImage
      parameters:
      - in: path
        name: pseudo
        required: true
        description: The User pseudo
        schema:
          type: string
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
            encoding:
              image:
                contentType: image/png, image/jpeg
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
        '413':
          description: Entity Too Large
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Image should not exceed 2MB
        '404':
          description: User Not Found
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: User not Found
        '400':
          description: File not Found
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: File not Found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /users/{pseudo}/image:
    get:
      tags:
        - User
      summary: Get user profile image
      operationId: getUserImage
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: pseudo
          required: true
          description: The User pseudo
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  image:
                    type: string
                    example: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAfQAAAH0CAIAAABEtEjdAAABG2l...'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: User not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /users/{pseudo}/groups:
    get:
      tags:
        - User
      summary: Get all Groups a User belongs to
      operationId: getUserGroups
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: pseudo
          required: true
          description: The User pseudo
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  groups:
                    type: array
                    items:
                      $ref: '#/components/schemas/GroupRecap'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: User not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /users/{pseudo}/calendars:
    get:
      tags:
        - User
      summary: Get all Calendars a User owns
      operationId: getUserCalendars
      description: >
        Retrieve all calendars of a User with its role in each.


        Role can be one of the following:

        - `admin` # Full access

        - `actor` # Can create new events

        - `spectator` # Can only view events

        - `outsider` # Can only view events it is invited to

      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: pseudo
          required: true
          description: The User pseudo
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  calendars:
                    type: array
                    items:
                      $ref: '#/components/schemas/CalendarRecap'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: User not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /users/{pseudo}/friend-invite:
    post:
      tags:
        - User
      summary: Send a new friend request
      operationId: sendFriendRequest
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: pseudo
          required: true
          description: The User pseudo
          schema:
            type: string
      responses:
        '200':
          description: Request sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Request sent
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: User not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'


  #
  # Group
  #
  /groups:
    post:
      tags:
        - Group
      summary: Create a new Group
      operationId: createGroup
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/GroupCredentials'
                - type: object
                  properties:
                    members:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            example: user_2
                          role:
                            type: string
                            example: spectator
      responses:
        '201':
          description: Group created
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  group:
                    type: object
                    allOf:
                    - $ref: '#/components/schemas/GroupInfo'
                    - type: object
                      properties:
                        members:
                          type: array
                          items:
                            $ref: '#/components/schemas/GroupMember'

        '400':
          description: Invalid Group
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Invalid fields in Group
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: User not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /groups/{group-id}:
    get:
      tags:
        - Group
      summary: Get information about a Group
      operationId: getGroupInfo
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: group-id
          required: true
          description: The Group id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  group:
                    $ref: '#/components/schemas/GroupInfo'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Group not Found
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Group not Found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

    put:
      tags:
        - Group
      summary: Edit a Group information
      operationId: editGroupInfo
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GroupEdit'
      parameters:
        - in: path
          name: group-id
          required: true
          description: The Group id
          schema:
            type: string
      responses:
        '200':
          description: Group successfully edited
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  group:
                    $ref: '#/components/schemas/GroupInfo'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

    delete:
      tags:
        - Group
      summary: Delete a Group
      operationId: deleteGroup
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: group-id
          required: true
          description: The Group id
          schema:
            type: string
      responses:
        '200':
          description: Group successfully deleted
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /groups/{group-id}/members:
    get:
      tags:
        - Group
      summary: Get all members of a Group
      operationId: getGroupMemberInfo
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: group-id
          required: true
          description: The Group id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  members:
                    type: array
                    items:
                      $ref: '#/components/schemas/GroupMember'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /groups/{group-id}/members/{pseudo}:
    put:
      tags:
        - Group
      summary: Edit a member's role inside a Group
      operationId: editGroupMemberInfo
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: group-id
          required: true
          description: The Group id
          schema:
            type: string
        - in: path
          name: pseudo
          required: true
          description: The Member pseudo
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                role:
                  $ref: '#/components/schemas/GroupMemberRole'
      responses:
        '200':
          description: Role edited
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  member:
                    $ref: '#/components/schemas/GroupMember'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: User not Found
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: User not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

    delete:
      tags:
        - Group
      summary: Remove a member from a Group
      operationId: deleteMemberFromGroup
      description: >
        Remove a member from a group and returns the updated members list
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: group-id
          required: true
          description: The Group id
          schema:
            type: string
        - in: path
          name: pseudo
          required: true
          description: The member pseudo
          schema:
            type: string
      responses:
        '200':
          description: User successfully kicked
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  members:
                    type: array
                    items:
                      $ref: '#/components/schemas/GroupMember'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: User not Found
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: User not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /groups/{group-id}/add-members:
    post:
      tags:
        - Group
      summary: Add new Users to a Group
      operationId: addMembersToGroup
      description: >
        Add new Users to a Group and returns the new list of members
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: group-id
          required: true
          description: The Group id
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                users:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        example: user_2
                      role:
                        type: string
                        example: spectator
      responses:
        '200':
          description: Users added
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  group:
                    type: object
                    allOf:
                    - $ref: '#/components/schemas/GroupInfo'
                    - type: object
                      properties:
                        members:
                          type: array
                          items:
                            $ref: '#/components/schemas/GroupMember'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: User not Found
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: User not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /groups/{group-id}/upload-image:
    post:
      tags:
        - Group
      summary: Upload image as new Avatar for specific group
      operationId: uploadGroupImage
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: group-id
          required: true
          description: The Group id
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
            encoding:
              image:
                contentType: image/png, image/jpeg
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '413':
          description: Entity Too Large
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Image should not exceed 2MB

  /groups/{group-id}/image:
    get:
      tags:
        - Group
      summary: Get group profile image
      operationId: getGroupImage
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: group-id
          required: true
          description: The Group id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  image:
                    type: string
                    example: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAfQAAAH0CAIAAABEtEjdAAABG2l...'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  #
  # GroupInvites
  #
  /group-invites:
    get:
      tags:
        - GroupInvites
      summary: Get all pending Group invitations
      operationId: getGroupInvites
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  pending_invites:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                          example: 42
                        name:
                          type: string
                          example: "Super group"
                        role:
                          $ref: '#/components/schemas/GroupMemberRole'
                        confirmed:
                          type: boolean
                          example: false
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /group-invites/{group-id}/accept-invite:
    post:
      tags:
        - GroupInvites
      summary: Accept a Group invitation
      operationId: groupAcceptInvite
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: group-id
          required: true
          description: The Group id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Invitation accepted
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /group-invites/{group-id}/decline-invite:
    post:
      tags:
        - GroupInvites
      summary: Decline a Group invitation
      operationId: groupDeclineInvite
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: group-id
          required: true
          description: The Group id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Invitation declined
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  #
  # Calendar
  #
  /calendars:
    post:
      tags:
        - Calendar
      summary: Create a new Calendar
      operationId: createCalendar
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CalendarCredentials'
      responses:
        '201':
          description: Calendar created
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Calendar created
                  calendar:
                    $ref: '#/components/schemas/CalendarInfo'
        '400':
          description: Invalid Calendar
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Invalid fields in Calendar
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /calendars/{calendar-id}:
    get:
      tags:
        - Calendar
      summary: Get information about a Calendar
      operationId: getCalendarInfo
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: calendar-id
          required: true
          description: The Calendar id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  calendar:
                    $ref: '#/components/schemas/CalendarInfo'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Calendar not Found
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Event not Found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

    put:
      tags:
        - Calendar
      summary: Edit a Calendar information
      operationId: editCalendarInfo
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CalendarEdit'
      parameters:
        - in: path
          name: calendar-id
          required: true
          description: The Calendar id
          schema:
            type: string
      responses:
        '200':
          description: Calendar successfully edited
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  calendar:
                    $ref: '#/components/schemas/CalendarInfo'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

    delete:
      tags:
        - Calendar
      summary: Delete a Calendar
      operationId: deleteCalendar
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: calendar-id
          required: true
          description: The Calendar id
          schema:
            type: string
      responses:
        '200':
          description: Calendar successfully deleted
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /calendars/{calendar-id}/events:
    post:
      tags:
        - Calendar
      summary: Create an Event
      operationId: createEvent
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EventEdit'
      parameters:
        - in: path
          name: calendar-id
          required: true
          description: The Calendar in which the Event will be added
          schema:
            type: string
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  events:
                    $ref: '#/components/schemas/EventInfo'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

    get:
      tags:
        - Calendar
      summary: Get all events of a Calendar
      operationId: getCalendarEvents
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: calendar-id
          required: true
          description: The Calendar id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/CalendarEvent'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /calendars/{calendar-id}/assistant/find-best-slots:
    get:
      tags:
        - Calendar
      summary: find best time slots for given Event
      operationId: findBestSlots
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: calendar-id
          required: true
          description: The Calendar id
          schema:
            type: number
        - in: query
          name: duration
          required: true
          description: The event duration, in minutes
          schema:
            type: number
        - in: query
          name: location
          required: false
          description: The event location
          schema:
            type: string
        - in: query
          name: min_time
          required: true
          description: The event minimum start time (yyyy-mm-ddThh:mm:ss)
          schema:
            type: string
            format: date-time
        - in: query
          name: max_time
          required: true
          description: The event maximum end time (yyyy-mm-ddThh:mm:ss)
          schema:
            type: string
            format: date-time
        - in: query
          name: type
          required: true
          description: The type of event to be created (party, work, hobby, workout)
          schema:
            type: string
        - in: query
          name: limit
          required: false
          description: The max number of timeslots to be returned
          schema:
            type: number

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  slots:
                    type: array
                    items:
                      $ref: '#/components/schemas/SlotInfo'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /calendars/{calendar-id}/assistant/get-event-suggestions:
    get:
      tags:
        - Calendar
      summary: Request event suggestions
      operationId: getEventSuggestions
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: calendar-id
          required: true
          description: The Calendar id
          schema:
            type: number
        - in: query
          name: min_time
          required: true
          description: The event minimum start time (yyyy-mm-ddThh:mm:ss)
          schema:
            type: string
            format: date-time
        - in: query
          name: max_time
          required: true
          description: The event maximum end time (yyyy-mm-ddThh:mm:ss)
          schema:
            type: string
            format: date-time
        - in: query
          name: limit
          required: false
          description: The max number of events to be returned
          schema:
            type: number

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  suggestions:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventSuggestion'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'


  #
  # Event
  #
  /events/{event-id}:
    get:
      tags:
        - Event
      summary: Get information about an Event
      operationId: getEventInfo
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: event-id
          required: true
          description: The Event id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  event:
                    $ref: '#/components/schemas/EventInfo'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Event not Found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

    put:
      tags:
        - Event
      summary: Edit an Event information
      operationId: editEventInfo
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EventEdit'
      parameters:
        - in: path
          name: event-id
          required: true
          description: The Event id
          schema:
            type: string
      responses:
        '200':
          description: Event successfully edited
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  event:
                    $ref: '#/components/schemas/EventInfo'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

    delete:
      tags:
        - Event
      summary: Delete an Event
      operationId: deleteEvent
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: event-id
          required: true
          description: The Event id
          schema:
            type: string
      responses:
        '200':
          description: Event successfully deleted
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Event not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /events/{event-id}/attendees:
    get:
      tags:
        - Event
      summary: Get all attendees to an Event
      operationId: getEventsAttendees
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: event-id
          required: true
          description: The Event id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  attendees:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventAttendees'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /events/{event-id}/attendees/{attendee-pseudo}:
    delete:
      tags:
        - Event
      summary: Delete an Attendee to an Event
      operationId: deleteEventAttendee
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: event-id
          required: true
          description: The Event id
          schema:
            type: string
        - in: path
          name: attendee-pseudo
          required: true
          description: The Attendee Pseudo
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  attendees:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventAttendees'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /events/{event-id}/invite-users:
    post:
      tags:
        - Event
      summary: Invite users to Event
      operationId: inviteUser
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: event-id
          required: true
          description: The Event id
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                users:
                  type: array
                  items:
                    type: string
                    example: alif
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  attendees:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventAttendees'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /events/{event-id}/status:
    put:
      tags:
        - Event
      summary: Change User's status regarding an Event
      operationId: editEventStatus
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: event-id
          required: true
          description: The Event id
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                status:
                  type: string
                  example: going
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Status updated
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /events/{event-id}/join:
    post:
      tags:
        - Event
      summary: Change User's status regarding an Event
      operationId: joinPublicEvent
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: event-id
          required: true
          description: The Event id
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                status:
                  type: string
                  example: going
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Event joined
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /events/{event-id}/upload-image:
    post:
      tags:
        - Event
      summary: Upload image as new Avatar for specific event
      operationId: uploadEventImage
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: event-id
          required: true
          description: The Event id
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
            encoding:
              image:
                contentType: image/png, image/jpeg
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
        '413':
          description: Entity Too Large
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Image should not exceed 2MB

  /events/{event-id}/image:
    get:
      tags:
        - Event
      summary: Get event profile image
      operationId: getEventImage
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: event-id
          required: true
          description: The Event id
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  image:
                    type: string
                    example: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAfQAAAH0CAIAAABEtEjdAAABG2l...'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '403':
          description: Action not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  #
  # Event invites
  #
  /event-invites:
    get:
      tags:
        - EventInvites
      summary: Fetch pending Event invitations
      operationId: getEventInvites
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  pending_invites:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                          example: 42
                        name:
                          type: string
                          example: "Super Event"
                        status:
                          type: string
                          example: invited
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'


  #
  # Friend Invites
  #
  /friend-invites:
    get:
      tags:
        - FriendInvites
      summary: Get all received friend invites
      operationId: getAllFriendInvite
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  friend_requests:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          example: received
                        from_user:
                          $ref: '#/components/schemas/PublicUserInfo'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /friend-invites/{pseudo}:
    get:
      tags:
        - FriendInvites
      summary: Get the status of a friend invitation
      operationId: getSpecificFriendInvite
      parameters:
        - in: path
          name: pseudo
          required: true
          description: The User pseudo
          schema:
            type: string
      description: >
        Get the status of the relation between the requesting User and the specified User


        Status can be one of the following:

        ```js

        [
          "sent",
          "received",
          "confirmed",
          "none"
        ]

        ```

      security:
        - BearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  status:
                    type: string
                    example: confirmed
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: User not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /friend-invites/{pseudo}/accept:
    post:
      tags:
        - FriendInvites
      summary: Accept a friend invitation
      operationId: acceptFriendRequest
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: pseudo
          required: true
          description: The User pseudo
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Invitation accepted
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: User not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'

  /friend-invites/{pseudo}/decline:
    post:
      tags:
        - FriendInvites
      summary: Decline a friend invitation
      operationId: declineFriendRequest
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: pseudo
          required: true
          description: The User pseudo
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: Invitation declined
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: User not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'


  #
  # Friends
  #
  /friends:
    get:
      tags:
        - Friends
      summary: Get all confirmed friends
      operationId: getAllConfirmedFriends
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  friends:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicUserInfo'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'


  #
  # Search
  #
  /search/users:
    get:
      tags:
        - Search
      summary: Search users by pseudo
      operationId: searchUser
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: q
          required: true
          description: The pseudo to look for
          schema:
            type: string
        - in: query
          name: page_size
          required: false
          description: The max number of users to be fetched by page (must be between 1 and 20)
          schema:
            type: number
            default: 10
        - in: query
          name: page_number
          required: false
          description: The page from which to start fetching
          schema:
            type: number
            default: 1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: OK
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicUserInfo'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationFailed'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'


####################
# Component
#
components:
  #
  # Security
  #
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  #
  # Schemas
  #
  schemas:

    #
    # Models
    #
    RegistrationCredentials:
      type: object
      properties:
        pseudo:
          type: string
          format: '[a-zA-Z][a-zA-Z0-9]*'
          example: amazing_user
        email:
          type: string
          example: amazing.user@gmail.com
        password:
          type: string
          example: AmazingPassword42

    LoginCredentials:
      type: object
      properties:
        email:
          type: string
          example: amazing.user@gmail.com
        password:
          type: string
          example: AmazingPassword42

    UserInfo:
      type: object
      properties:
        pseudo:
          type: string
          example: amazing_user
        email:
          type: string
          example: amazing.user@gmail.com
        providers:
          type: object
          properties:
            facebook:
              type: boolean
              example: true
            google:
              type: boolean
              example: false

    PublicUserInfo:
      type: object
      properties:
        pseudo:
          type: string
          example: amazing_user

    GroupRecap:
      type: object
      properties:
        id:
          type: integer
          example: 42
        name:
          type: string
          example: amazing_group
        nb_members:
          type: number
          example: 3
        role:
          $ref: '#/components/schemas/GroupMemberRole'

    GroupEdit:
      type: object
      properties:
        name:
          type: string
          example: A new Group Name
        description:
          type: string
          example: A new Group Description

    GroupCredentials:
      type: object
      properties:
        name:
          type: string
          example: amazing_group
        description:
          type: string
          example: A Group description

    GroupInfo:
      type: object
      properties:
        id:
          type: integer
          example: 42
        name:
          type: string
          example: amazing_group
        description:
          type: string
          example: A Group with nice users
        calendar_id:
          type: number
          example: 42
        nb_members:
          type: integer
          example: 3
        role:
          $ref: '#/components/schemas/GroupMemberRole'

    GroupMemberRole:
      type: string
      enum:
        - admin
        - spectator
        - actor
        - outsider

    GroupMember:
      type: object
      properties:
        pseudo:
          type: string
          example: amazing_user
        role:
          $ref: '#/components/schemas/GroupMemberRole'
        confirmed:
          type: boolean
          example: false


    CalendarRecap:
      type: object
      properties:
        calendar:
          type: object
          properties:
            id:
              type: integer
              example: 42
            name:
              type: string
              example: amazing_calendar
            role:
              $ref: '#/components/schemas/GroupMemberRole'

    CalendarCredentials:
      type: object
      properties:
        name:
          type: string
          example: amazing_calendar

    CalendarInfo:
      type: object
      properties:
        id:
          type: integer
          example: 42
        name:
          type: string
          example: amazing_calendar
        role:
          $ref: '#/components/schemas/GroupMemberRole'

    CalendarEdit:
      type: object
      properties:
        name:
          type: string
          example: qlf tu coco

    CalendarEvent:
      type: object
      properties:
        id:
          type: integer
          example: 42
        name:
          type: string
          example: qlf tu coco
        start_time:
          type: string
          example: "2012-12-12T12:12:12"
        end_time:
          type: string
          example: "2012-12-12T12:12:12"
        type:
          type: string
          example: party
        visibility:
          type: string
          example: public
        status:
          type: string
          example: going

    SlotInfo:
      type: object
      properties:
        start_time:
          type: string
          example: "2019-03-08T12:12:12"
        end_time:
          type: string
          example: "2019-03-08T15:12:12"
        score:
          type: number
          example: 0.9

    EventSuggestion:
      type: object
      properties:
        event:
          $ref: '#/components/schemas/EventInfo'
        score:
          type: number
          example: 0.9

    EventInfo:
      type: object
      properties:
        id:
          type: number
          example: 43
        name:
          type: string
          example: nouvel an
        description:
          type: string
          example: soiree
        location:
          type: string
          example: Le pub Universitaire, Quebec City
        type:
          type: string
          example: party
        visibility:
          type: string
          example: public
        calendar_id:
          type: number
          example : 3
        start_time:
          type: string
          example: "2012-12-12T12:12:12"
        end_time:
          type: string
          example: "2012-12-12T12:12:12"
        status:
          type: string
          example: invited

    EventEdit:
      type: object
      properties:
        name:
          type: string
          example: nouvel an
        description:
          type: string
          example: soiree
        type:
          type: string
          example: party
        visibility:
          type: string
          example: public
        start_time:
          type: string
          example: "2012-12-12T12:12:12"
        end_time:
          type: string
          example: "2012-12-12T12:12:12"
        location:
          type: string
          example: "Bastille"

    EventAttendees:
      type: object
      properties:
        pseudo:
          type: string
          example: alif
        status:
          type: string
          example: invited

    InviteUser:
      type: array
      items:
        type: string
        example: alif


    #
    # Responses
    #

    # 401
    AuthenticationFailed:
      description: The authentication failed
      type: object
      properties:
        message:
          type: string
          example: You must be authenticated to perform this action
    # 403
    Unauthorized:
      description: The action is not allowed
      type: object
      properties:
        message:
          type: string
          example: Action not allowed
    # 404
    NotFound:
      description: Route or Resource not found
      type: object
      properties:
        message:
          type: string
          example: Route or Resource not found
    # 500
    InternalServerError:
      description: Internal Server Error
      type: object
      properties:
        message:
          type: string
          example: Internal Server Error
